.title {
  font-family: 'Press Start 2P', cursive;
  color: #fecfb3;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  width: 100%;
}

.content {
  color: white
}

.episode-link:link {
  color: #01D502;
  text-decoration: underline;
}

.episode-link:visited {
  color: #01D502;
}

.episode-link:hover {
  color: #01D502;
}

.episode-link:active {
  color: #01D502;
}
