<div class="container" *ngIf="curState">
  <div class="row">
    <p class="title">Inspired By </p>
  </div>

  <ng-container *ngIf="imdbInfo">
    <div class="row">
      <div class="col-12 content">
        <p>{{curState.imdbTitle}}</p>
        <p>Season {{imdbInfo.Season}}, Episode {{imdbInfo.Episode}}</p>
        <p><a href="https://www.imdb.com/title/{{curState.imdbId}}" class="episode-link">{{imdbInfo.Title}}</a></p>
        <p>{{imdbInfo.Plot}}</p>
        <img [src]="imdbInfo.Poster" alt="">
        <br>

      </div>
    </div>

  </ng-container>
</div>
